@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    /* background-image: url("./bg-pic.jpeg");
    background-size: cover;
    background-position: center; */
}